@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.header .logoHeader img {
    width: 150px;
    height: 150px;
}

.header .logoHeader {
    margin: auto;
}

.nav {
    margin: auto;
    width: 100%;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.7rem;
    float: left;
}

.nav a:hover {
    color: yellow;
}

.nav ul {
    list-style: none;
    float: inline-end;
}

.nav ul li {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;  
}

hr {
    background-color: #fff;
    height: 0.5rem;
}

/* footer */

.footer {
    background-color: #333;
    padding: 2rem;
    color: #fff;
}

.footerMenu{
    display: grid;
    grid-template-columns: 20% 40% 43%;
}

.navFooter ul{
    list-style: none;
}

.navFooter ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3rem;
}

.navFooter ul li a:hover{
    color: yellow;
}

.avisoFooter, .agradecimentoFooter {
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.direitosFooter {
    font-size: 2rem;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 2rem;
}